In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Import downloaded Polaris dataset
eda_df = pd.read_csv("")
eda_df

C:\Users\mrm\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (54) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48796,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,...,-99,-99,0,-99,UG,-99,-99,-99,-99,-99
48797,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,...,-99,-99,0,-99,UG,-99,-99,-99,-99,-99
48798,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,...,-99,-99,0,-99,UG,-99,-99,-99,-99,-99
48799,2019,Case Management,Female,-99,-99,Minor,-99,UG,0,0,...,-99,-99,0,-99,UG,-99,-99,-99,-99,-99
48800,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,...,-99,-99,0,-99,UG,-99,-99,-99,-99,-99

## Feature Engineering
### Means of Control
#### Table 1: Means of Control Groupings

In [3]:
# Categorize by type of control per table above
control_means_list = []
for row in eda_df.iterrows():
# iterrows isn't the best solution for a larger dataset
# but it works reasonably well here with the size of our dataset
    # Categorize by arbitrary grouping of 'Financial'
    if str(row[1]["meansOfControlDebtBondage"]) == "1" or str(row[1]["meansOfControlTakesEarnings"]) == "1" or str(row[1]["meansOfControlRestrictsFinancialAccess"]) == "1":
        control_means_list.append('Financial')
    # Categorize by arbitrary grouping of 'Threats'
    elif str(row[1]["meansOfControlThreats"]) == "1" or str(row[1]["meansOfControlPsychologicalAbuse"]) == "1" or str(row[1]["meansOfControlFalsePromises"]) == "1" or str(row[1]["meansOfControlUsesChildren"]) == "1" or str(row[1]["meansOfControlThreatOfLawEnforcement"]) == "1":
        control_means_list.append('Threats')
    # Categorize by arbitrary grouping of 'Survival'
    elif str(row[1]["meansOfControlRestrictsMedicalCare"]) == "1" or str(row[1]["meansOfControlWithholdsNecessities"]) == "1" or str(row[1]["meansOfControlWithholdsDocuments"]) == "1":
        control_means_list.append('Survival')
    # Categorize by arbitrary grouping of 'Physical'
    elif str(row[1]["meansOfControlPhysicalAbuse"]) == "1" or str(row[1]["meansOfControlSexualAbuse"]) == "1" or str(row[1]["meansOfControlRestrictsMovement"]) == "1" or str(row[1]["meansOfControlExcessiveWorkingHours"]) == "1":
        control_means_list.append('Physical')
    # Categorize by arbitrary grouping of 'Other'
    elif str(row[1]["meansOfControlNotSpecified"]) == "1" or str(row[1]["meansOfControlPsychoactiveSubstances"]) == "1" or str(row[1]["meansOfControlOther"]) == "1":
        control_means_list.append('Other')
    # Insert null value if none of the criteria above are met...
    else:
        # print("None")
        control_means_list.append(np.nan)

# Add a column with our arbitrary category groupings back to the main DataFrame
eda_df["ControlCategory"] = control_means_list
eda_df["ControlCategory"].value_counts()

Other        27384
Threats       4384
Financial     3250
Physical      1749
Survival       220
Name: ControlCategory, dtype: int64

In [4]:
# Duplicate DataFrame and drop columns that we no longer need...
eda1_df = eda_df
eda1_df.drop(["meansOfControlDebtBondage", "meansOfControlTakesEarnings", "meansOfControlRestrictsFinancialAccess"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlThreats", "meansOfControlPsychologicalAbuse", "meansOfControlFalsePromises", "meansOfControlUsesChildren", "meansOfControlThreatOfLawEnforcement"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlRestrictsMedicalCare", "meansOfControlWithholdsNecessities", "meansOfControlWithholdsDocuments"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlPhysicalAbuse", "meansOfControlSexualAbuse", "meansOfControlRestrictsMovement", "meansOfControlExcessiveWorkingHours"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlNotSpecified", "meansOfControlPsychoactiveSubstances", "meansOfControlOther"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlConcatenated"], axis=1, inplace=True)
eda1_df

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,isSexualExploit,...,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown,ControlCategory
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48796,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,1,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other
48797,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,1,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other
48798,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,1,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other
48799,2019,Case Management,Female,-99,-99,Minor,-99,UG,0,1,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other
48800,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,1,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other

## Feature Engineering
### Recruiter Relationship
#### Table 2: Means of Control Groupings

In [5]:
# Re-categorize RecruiterRelationship
relation_categories = []
for row in eda1_df.iterrows():
    if row[1]["RecruiterRelationship"] == "Not Specified":
        relation_categories.append('Not Specified')
    elif row[1]["RecruiterRelationship"] == "Not Specified; Other" or row[1]["RecruiterRelationship"] == "Other":
        relation_categories.append('Other')
    elif row[1]["RecruiterRelationship"] == "Friend/Acquaintance" or \
        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified; Other" or \
            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Not Specified" or \
                    row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Other" or \
                        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner" or \
                            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Other":
        relation_categories.append('Friend/Acquaintance')
    elif row[1]["RecruiterRelationship"] == "Family/Relative" or \
        row[1]["RecruiterRelationship"] == "Family/Relative; Other" or \
            row[1]["RecruiterRelationship"] == "Family/Relative; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner" or \
                    row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance" or \
                        row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance; Other" or \
                            row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner; Other":
        relation_categories.append('Family/Relative')
    elif row[1]["RecruiterRelationship"] == "Intimate Partner" or \
        row[1]["RecruiterRelationship"] == "Intimate Partner; Other" or \
            row[1]["RecruiterRelationship"] == "Intimate Partner; Not Specified":
        relation_categories.append('Intimate Partner')
    else:
        relation_categories.append(np.nan)

# Add our revised category listing to our DataFrame
eda1_df["RecruiterCategory"] = relation_categories
eda1_df["RecruiterCategory"].value_counts()

Not Specified          8730
Other                  3883
Friend/Acquaintance    2078
Family/Relative        1879
Intimate Partner       1550
Name: RecruiterCategory, dtype: int64

In [6]:
# Duplicate DataFrame and drop unnecessary recruiter columns
eda2_df = eda1_df
eda2_df.drop(["RecruiterRelationship", "recruiterRelationIntimatePartner", "recruiterRelationFriend", "recruiterRelationFamily", "recruiterRelationOther", "recruiterRelationUnknown"], axis=1, inplace=True)
eda2_df

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,isSexualExploit,...,typeOfLabourConcatenated,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,ControlCategory,RecruiterCategory
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48796,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,1,...,-99,0,0,0,-99,-99,0,UG,Other,NaN
48797,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,1,...,-99,0,0,0,-99,-99,0,UG,Other,NaN
48798,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,1,...,-99,0,0,0,-99,-99,0,UG,Other,NaN
48799,2019,Case Management,Female,-99,-99,Minor,-99,UG,0,1,...,-99,0,0,0,-99,-99,0,UG,Other,NaN
48800,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,1,...,-99,0,0,0,-99,-99,0,UG,Other,NaN

## Feature Engineering
### Type of Exploit
#### Table 3: Categorized Exploit Types

In [7]:
# Re-categorize typeOfExploitConcatenated
exploit_categories = []
for row in eda2_df.iterrows():
    if str(row[1]["typeOfExploitConcatenated"]) == "Sexual exploitation":
        exploit_categories.append('Sexual Exploitation')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced labour":
        exploit_categories.append('Forced Labor')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Other":
        exploit_categories.append('Other')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Slavery and similar practices":
        exploit_categories.append('Slavery and Similar')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced marriage":
        exploit_categories.append('Forced Marriage')
    elif str(row[1]["typeOfExploitConcatenated"]) == "-99":
        exploit_categories.append(np.nan)
    else:
        exploit_categories.append("Other")

# Add re-categorized data to DataFrame
eda2_df["ExploitType"] = exploit_categories

In [8]:
# Duplicate our DataFrame
eda3_df = eda2_df

# Drop columns
eda3_df.drop(["typeOfExploitConcatenated", \
                         "isSexualExploit", \
                         "isOtherExploit", \
                         "isSexAndLabour", \
                         "isForcedMarriage", \
                         "isForcedMilitary", \
                         "isOrganRemoval", \
                         "isSlaveryAndPractices"], axis=1, inplace=True)
eda3_df

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,typeOfLabourAgriculture,...,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,ControlCategory,RecruiterCategory,ExploitType
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48796,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,...,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation
48797,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,...,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation
48798,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,...,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation
48799,2019,Case Management,Female,-99,-99,Minor,-99,UG,0,0,...,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation
48800,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,...,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation

## Feature Engineering
### Type of Exploit
#### Table 4: Categorized Labor Types

In [9]:
# Unite the 'typeOf' columns to a single column
labor_types = []
for row in eda3_df.iterrows():
    if row[1]["typeOfLabourAgriculture"] == 1:
        labor_types.append('Agriculture')
    elif row[1]["typeOfLabourAquafarming"] == 1:
        labor_types.append('Aquafarming')
    elif row[1]["typeOfLabourBegging"] == 1:
        labor_types.append('Begging')
    elif row[1]["typeOfLabourConstruction"] == 1:
        labor_types.append('Construction')
    elif row[1]["typeOfLabourDomesticWork"] == 1:
        labor_types.append('Domestic Work')
    elif row[1]["typeOfLabourHospitality"] == 1:
        labor_types.append('Hopitality')
    elif row[1]["typeOfLabourIllicitActivities"] == 1:
        labor_types.append('Illicit Activities')
    elif row[1]["typeOfLabourManufacturing"] == 1:
        labor_types.append('Manufacturing')
    elif row[1]["typeOfLabourMiningOrDrilling"] == 1:
        labor_types.append('Mining or Drilling')
    elif row[1]["typeOfLabourPeddling"] == 1:
        labor_types.append('Peddling')
    elif row[1]["typeOfLabourTransportation"] == 1:
        labor_types.append('Transportation')
    elif row[1]["typeOfLabourOther"] == 1 or row[1]["typeOfLabourNotSpecified"] == 1:
        labor_types.append('Other')
    else:
        labor_types.append("Unknown")

# Add labor categories to our DataFrame
eda3_df["Labor_Type"] = labor_types
eda3_df["Labor_Type"].value_counts()

Unknown          42552
Domestic Work     2744
Construction      1254
Other             1236
Manufacturing      453
Agriculture        152
Begging            149
Aquafarming        107
Hopitality          82
Peddling            72
Name: Labor_Type, dtype: int64

In [10]:
# Copy DataFrame
eda4_df = eda3_df

# Drop columns we won't need any longer
eda4_df.drop(["typeOfLabourAgriculture", "typeOfLabourAquafarming", \
              "typeOfLabourBegging", "typeOfLabourConstruction", \
              "typeOfLabourDomesticWork", "typeOfLabourHospitality", \
              "typeOfLabourIllicitActivities", "typeOfLabourManufacturing", \
              "typeOfLabourMiningOrDrilling", "typeOfLabourPeddling", \
              "typeOfLabourTransportation", "typeOfLabourOther", \
              "typeOfLabourNotSpecified", "typeOfLabourConcatenated"], axis=1, inplace=True)

eda4_df

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,ControlCategory,RecruiterCategory,ExploitType,Labor_Type
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48796,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown
48797,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown
48798,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown
48799,2019,Case Management,Female,-99,-99,Minor,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown
48800,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown

## Feature Engineering
### Re-format age categories
#### Table

In [11]:
# Modify the age categories for readability
age_categories = []
for row in eda4_df.iterrows():
    if str(row[1]["ageBroad"]) == "0--8":
        age_categories.append('Age 0-8')
    elif str(row[1]["ageBroad"]) == "9--17":
        age_categories.append('Age 9-17')
    elif str(row[1]["ageBroad"]) == "18--20":
        age_categories.append('Age 18-20')
    elif str(row[1]["ageBroad"]) == "21--23":
        age_categories.append('Age 21-23')
    elif str(row[1]["ageBroad"]) == "24--26":
        age_categories.append('Age 24-26')
    elif str(row[1]["ageBroad"]) == "27--29":
        age_categories.append('Age 27-29')
    elif str(row[1]["ageBroad"]) == "30--38":
        age_categories.append('Age 30-38')
    elif str(row[1]["ageBroad"]) == "39--47":
        age_categories.append('Age 39-47')
    elif str(row[1]["ageBroad"]) == "48+":
        age_categories.append('Age 48+')
    else:
        age_categories.append(np.nan)

# Add to our DataFrame
eda4_df["ageCategories"] = age_categories
eda4_df["ageCategories"].value_counts()

Age 9-17     8645
Age 30-38    7091
Age 18-20    4448
Age 21-23    4213
Age 24-26    3464
Age 39-47    2821
Age 27-29    2641
Age 48+      1560
Age 0-8      1556
Name: ageCategories, dtype: int64

In [12]:
# Drop the old age column and check out DataFrame
eda4_df.drop(["ageBroad"], axis=1, inplace=True)
eda4_df

,yearOfRegistration,Datasource,gender,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,ControlCategory,RecruiterCategory,ExploitType,Labor_Type,ageCategories
0,2002,Case Management,Female,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
1,2002,Case Management,Female,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
2,2002,Case Management,Female,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
3,2002,Case Management,Female,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
4,2002,Case Management,Female,Adult,-99,-99,CO,0,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48796,2019,Case Management,Female,-99,Adult,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown,NaN
48797,2019,Case Management,Female,-99,Adult,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown,NaN
48798,2019,Case Management,Female,-99,Adult,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown,NaN
48799,2019,Case Management,Female,-99,Minor,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown,NaN
48800,2019,Case Management,Female,-99,Adult,-99,UG,0,0,0,0,-99,-99,0,UG,Other,NaN,Sexual Exploitation,Unknown,NaN

In [13]:
# Drop additional features/columns we won't need any longer
eda4_df.drop(["majorityStatus", "majorityStatusAtExploit", "majorityEntry", \
                    "typeOfSexProstitution", "typeOfSexPornography", "typeOfSexRemoteInteractiveServices", \
                        "typeOfSexPrivateSexualServices", "typeOfSexConcatenated", "isAbduction", "CountryOfExploitation"], axis=1, inplace=True)
eda4_df

,yearOfRegistration,Datasource,gender,citizenship,isForcedLabour,ControlCategory,RecruiterCategory,ExploitType,Labor_Type,ageCategories
0,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
1,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
2,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
3,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
4,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,Unknown,Age 18-20
...,...,...,...,...,...,...,...,...,...,...
48796,2019,Case Management,Female,UG,0,Other,NaN,Sexual Exploitation,Unknown,NaN
48797,2019,Case Management,Female,UG,0,Other,NaN,Sexual Exploitation,Unknown,NaN
48798,2019,Case Management,Female,UG,0,Other,NaN,Sexual Exploitation,Unknown,NaN
48799,2019,Case Management,Female,UG,0,Other,NaN,Sexual Exploitation,Unknown,NaN
48800,2019,Case Management,Female,UG,0,Other,NaN,Sexual Exploitation,Unknown,NaN

In [14]:
eda5_df = eda4_df.dropna()
eda5_df

,yearOfRegistration,Datasource,gender,citizenship,isForcedLabour,ControlCategory,RecruiterCategory,ExploitType,Labor_Type,ageCategories
9840,2012,Case Management,Female,LK,1,Threats,Other,Forced Labor,Domestic Work,Age 30-38
9842,2012,Case Management,Female,LK,1,Financial,Other,Forced Labor,Domestic Work,Age 30-38
9843,2012,Case Management,Female,LK,1,Threats,Other,Forced Labor,Domestic Work,Age 30-38
9844,2012,Case Management,Female,LK,1,Financial,Other,Forced Labor,Domestic Work,Age 30-38
9845,2012,Case Management,Female,LK,1,Financial,Other,Forced Labor,Domestic Work,Age 30-38
...,...,...,...,...,...,...,...,...,...,...
48768,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17
48769,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17
48770,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17
48771,2018,Hotline,Male,US,0,Other,Family/Relative,Sexual Exploitation,Unknown,Age 9-17
48772,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17

In [15]:
eda5_df["citizenship"].unique()

array(['LK', 'HT', 'UA', 'MM', 'AF', 'UG', 'ID', 'KG', 'ER', 'NG', 'NP',
       'PH', 'BY', 'KH', 'UZ', '0', 'US', 'TH', 'KR', 'KE', 'CN', 'MX'],
      dtype=object)

In [16]:
eda5_df["citizenship"].value_counts()

0     8353
US    3590
UA    1016
BY     232
MM     186
KG     157
KH     139
NG      98
HT      89
LK      73
ID      69
UG      66
TH      53
PH      38
KE      29
NP      27
UZ      25
CN      23
MX      19
KR      12
AF       4
ER       1
Name: citizenship, dtype: int64

In [17]:
# Export eda5 DataFrame to csv
eda5_df.to_csv(os.path.join("../Exports", "eda5b.csv"), index=False)

In [19]:
# Export to PostreSQL
from sqlalchemy import create_engine
from config import conn

# Create engine with connection string
engine = create_engine(conn)
eda5_df.to_sql('Trafficking_Cleaned', con=engine, if_exists='append', index=False)