In [1]:
import os
import pandas as pd

In [2]:
# Import WEO dataset
weo_df = pd.read_excel("WEOApr2021all.xlsx", header=0)
weo_df.head()

,WEO Country Code,ISO,WEO Subject Code,Country,Subject Descriptor,Subject Notes,Units,Scale,Country/Series-specific Notes,1980,...,2018,2019,2020,2021,2022,2023,2024,2025,2026,Estimates Start After
0,512,AFG,NGDP_R,Afghanistan,"Gross domestic product, constant prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,1270.22,1319.9,1253.91,1304.06,1363.06,1424.4,1481.5,1540.94,1602.59,2019.0
1,512,AFG,NGDP_RPCH,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,NaN,"See notes for: Gross domestic product, consta...",NaN,...,1.189,3.912,-5,4,4.524,4.5,4.009,4.012,4.001,2019.0
2,512,AFG,NGDP,Afghanistan,"Gross domestic product, current prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,1327.69,1469.6,1470.21,1599.35,1745.26,1896.29,2051.19,2218.82,2399.92,2019.0
3,512,AFG,NGDPD,Afghanistan,"Gross domestic product, current prices",Values are based upon GDP in national currency...,U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,18.401,18.876,19.132,19.938,21.201,22.01,22.754,23.896,24.553,2019.0
4,512,AFG,PPPGDP,Afghanistan,"Gross domestic product, current prices",These data form the basis for the country weig...,Purchasing power parity; international dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,77.416,81.88,78.729,83.37,89.114,95.23,101.121,107.246,113.629,2019.0

In [3]:
# View columns
weo_df.columns

Index([             'WEO Country Code',                           'ISO',
                    'WEO Subject Code',                       'Country',
                  'Subject Descriptor',                 'Subject Notes',
                               'Units',                         'Scale',
       'Country/Series-specific Notes',                            1980,
                                  1981,                            1982,
                                  1983,                            1984,
                                  1985,                            1986,
                                  1987,                            1988,
                                  1989,                            1990,
                                  1991,                            1992,
                                  1993,                            1994,
                                  1995,                            1996,
                                  1997,                            1998,
                                  1999,                            2000,
                                  2001,                            2002,
                                  2003,                            2004,
                                  2005,                            2006,
                                  2007,                            2008,
                                  2009,                            2010,
                                  2011,                            2012,
                                  2013,                            2014,
                                  2015,                            2016,
                                  2017,                            2018,
                                  2019,                            2020,
                                  2021,                            2022,
                                  2023,                            2024,
                                  2025,                            2026,
               'Estimates Start After'],
      dtype='object')

In [4]:
# Drop unnecessary columns
weo_df.drop(["WEO Country Code", "Subject Descriptor", "Subject Notes", "Units", "Scale", 
             "Country/Series-specific Notes", 1980, 1981, 1982, 1983, 1984,
            1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
            1997, 1998, 1999, 2000, 2001, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, "Estimates Start After"], axis=1, inplace=True)
weo_df.head()

,ISO,WEO Subject Code,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AFG,NGDP_R,Afghanistan,453.484,492.903,496.209,554.91,584.658,662.65,688.247,829.924,899.956,958.266,1092.12,1154.18,1185.31,1197.01,1222.92,1255.29,1270.22
1,AFG,NGDP_RPCH,Afghanistan,NaN,8.692,0.671,11.83,5.361,13.34,3.863,20.585,8.438,6.479,13.968,5.683,2.697,0.988,2.164,2.647,1.189
2,AFG,NGDP,Afghanistan,178.756,220.013,246.21,304.926,345.817,427.495,517.509,607.227,711.759,836.222,1033.59,1116.83,1183.04,1226.57,1222.92,1285.46,1327.69
3,AFG,NGDPD,Afghanistan,4.367,4.553,5.146,6.167,6.925,8.556,10.297,12.066,15.325,17.89,20.293,20.17,20.635,20.22,17.994,18.91,18.401
4,AFG,PPPGDP,Afghanistan,19.677,21.784,22.521,25.969,28.19,32.808,34.739,42.209,46.304,50.334,59.945,63.784,69.444,72.056,70.098,74.712,77.416

# Create CSV for GDP

In [5]:
# Retreive all rows where WEO Subject Code is NGDPDPC for GDP
gdp_df = weo_df[weo_df['WEO Subject Code'] == "NGDPDPC"]
gdp_df.head()

,ISO,WEO Subject Code,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
9,AFG,NGDPDPC,Afghanistan,233.433,233.755,254.259,294.396,320.674,381.502,447.746,511.374,631.49,714.7,784.611,754.402,747.622,711.337,616.234,636.693,582.323
54,ALB,NGDPDPC,Albania,1425.13,1846.12,2373.58,2673.77,2972.75,3595.05,4370.56,4114.09,4097.83,4439.89,4248.91,4415.6,4584.92,3953.61,4124.41,4542.76,5284.44
99,DZA,NGDPDPC,Algeria,1806.86,2128.39,2636.31,3141.03,3508.96,3986.56,4943.5,3886.06,4480.72,5453.89,5575.65,5477.06,5466.33,4153.32,3918.94,4079.65,4118.74
144,AGO,NGDPDPC,Angola,841.42,951.969,1222.04,1862.42,2561.86,3099.09,4081.69,3146.8,3641.44,4716.25,5245.02,5436.52,5625.74,4354.92,3676.83,4303.69,3620.59
189,ATG,NGDPDPC,Antigua and Barbuda,10482.01,10892.4,11581.32,12736.24,14262.1,15992.74,16510.08,14612.9,13564.68,13295.36,13811.08,13392.22,13951.99,14696.89,15556.01,15655.23,16860.96

In [6]:
# Save DF to CSV
gdp_df.to_csv('WEO_GDP.csv', index = False)

# Create CSV for Population

In [7]:
# Retreive all rows where WEO Subject Code is NGDPDPC for LP
population_df = weo_df[weo_df['WEO Subject Code'] == "LP"]
population_df.head()

,ISO,WEO Subject Code,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
27,AFG,LP,Afghanistan,18.707,19.477,20.237,20.947,21.596,22.426,22.997,23.596,24.269,25.031,25.864,26.736,27.601,28.425,29.2,29.7,31.6
72,ALB,LP,Albania,3.051,3.04,3.027,3.011,2.993,2.97,2.947,2.928,2.913,2.905,2.9,2.895,2.889,2.881,2.876,2.873,2.866
117,DZA,LP,Algeria,31.414,31.885,32.366,32.855,33.351,33.858,34.591,35.268,35.978,36.717,37.495,38.297,39.114,39.963,40.836,41.721,42.578
162,AGO,LP,Angola,18.166,18.711,19.273,19.851,20.446,21.06,21.692,22.342,23.013,23.703,24.414,25.147,25.901,26.681,27.503,28.377,29.25
207,ATG,LP,Antigua and Barbuda,0.078,0.079,0.079,0.08,0.081,0.082,0.083,0.084,0.085,0.086,0.087,0.088,0.09,0.091,0.092,0.094,0.095

In [ ]:
# Save DF to CSV
gdp_df.to_csv('WEO_Population.csv',index = False)

# Create CSV for Unemployment Rate

In [8]:
# Retreive all rows where WEO Subject Code is NGDPDPC for LUR
unemployment_df = weo_df[weo_df['WEO Subject Code'] == "LUR"]
unemployment_df.head()

,ISO,WEO Subject Code,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
25,AFG,LUR,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,ALB,LUR,Albania,15.751,15,14.4,14.1,13.8,13.4,13.1,13.8,14,14,13.4,15.9,17.5,17.1,15.2,13.7,12.3
115,DZA,LUR,Algeria,25.664,23.716,17.656,15.265,12.512,13.793,11.343,10.167,9.961,9.971,10.969,9.829,10.6,11.214,10.498,11.709,11.731
160,AGO,LUR,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,ATG,LUR,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Save DF to CSV
gdp_df.to_csv('WEO_Unemployment.csv', index = False)