In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Import Polaris dataset downloaded...
eda_df = pd.read_csv(os.path.join("Potential_Data", "global_dataset_14_Apr_2020.csv"), header=1)
eda_df.head()

C:\Users\mrm\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (6,55,57) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1

In [3]:
# Feature engineering
# -99 is no data or NaN
eda_df["majorityStatusAtExploit"].replace({"-99": np.nan}, inplace=True)
eda_df.head(10)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
NaN,2002,Case Management,Female,18--20,Adult,NaN,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1

In [4]:
eda_df["majorityStatusAtExploit"].isnull().sum()

31319

In [5]:
eda_df.shape

(48801, 63)

In [7]:
eda_df["citizenship"].unique()

array(['CO', 'MD', 'RO', 'UA', 'BY', 'GH', 'AL', 'BG', 'UZ', 'ID', 'TJ',
       'CD', 'ML', 'GW', 'CI', 'SN', 'SL', 'KG', 'GN', 'KH', 'LA', 'KZ',
       'TM', 'BF', 'NE', 'HT', 'LK', 'BO', 'MM', 'AF', 'UG', 'ER', 'NG',
       'NP', 'PH', 'BD', '00', 'US', '-99', 'TH', 'KR', 'VN', 'KE', 'CN',
       'MX', 'MG'], dtype=object)

In [10]:
len(eda_df["citizenship"].unique())

46