In [1]:
import os
import pandas as pd
import numpy as np

countries_df = pd.read_csv(os.path.join("../../../Data", "countries.csv"))
countries_df.head()

     country_name country_iso2 country_iso3  country_un_code
0     Afghanistan           AF          AFG                4
1   Aland Islands           AX          ALA              248
2         Albania           AL          ALB                8
3         Algeria           DZ          DZA               12
4  American Samoa           AS          ASM               16