Using improper features here for a multiple regression analysis. Will re-configure and optimize.

## Question
What impact does a country's economic status (as measured by GDP and other factors) affect the number of human trafficking cases reported in that country?

### Data
The base dataset includes features for:

* Year
* Data Source
* Gender
* Citizenship
* Victim Forced to Labor
* Type of Control Exerted Upon Victim
* Recruiter Category
* Exploit Type
* Labor Type
* Age Categories
* GDP
* Unemployment Rate

*Not all of these features will be used in the model we create to predict the answers to our question.*

### Model
Given an input set, we are trying to predict an outcome. In our base set, we have a known outcome (the type of labor forced upon the victim (represented by the 'Labor_Type' feature)). Can we use multiple regression in a supervised model to create predictions.

### Output
We hope to find a line where as GDP, unemployment and other factors change, the number of human trafficking cases may be predicted. If the number of cases can be predicted/modeled, one of two outcomes may be possible:
* Examine existing cases for possible under-reporting and encouraging law enforcement to act more pro-actively.
* Allow leadership in given countries the opportunity to curb trafficking by improving economic conditions within their respective country.

In [1]:
# Import Dependencies
import os
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from config import conn

# from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt

In [2]:
# Get trafficking data
trafficking_df = pd.read_sql_table("Trafficking_Cleaned", conn)
trafficking_df

,yearOfRegistration,Datasource,gender,citizenship,isForcedLabour,ControlCategory,RecruiterCategory,ExploitType,Labor_Type,ageCategories
0,2012,Case Management,Female,LK,1,Threats,Other,Forced Labor,Domestic Work,Age 30-38
1,2012,Case Management,Female,LK,1,Financial,Other,Forced Labor,Domestic Work,Age 30-38
2,2012,Case Management,Female,LK,1,Threats,Other,Forced Labor,Domestic Work,Age 30-38
3,2012,Case Management,Female,LK,1,Financial,Other,Forced Labor,Domestic Work,Age 30-38
4,2012,Case Management,Female,LK,1,Financial,Other,Forced Labor,Domestic Work,Age 30-38
...,...,...,...,...,...,...,...,...,...,...
14294,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17
14295,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17
14296,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17
14297,2018,Hotline,Male,US,0,Other,Family/Relative,Sexual Exploitation,Unknown,Age 9-17
14298,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17

In [3]:
# Get unemployment data
unemployment_df = pd.read_sql_table("WEO_Unemployment", conn, index_col=["ISO"])
unemployment_df

,WEO Subject Code,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
ISO,,,,,,,,,,,,,,,,,,,
AFG,LUR,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,LUR,Albania,15.751,15.000,14.400,14.100,13.800,13.400,13.100,13.800,14.000,14.000,13.400,15.900,17.5,17.100,15.200,13.700,12.300
DZA,LUR,Algeria,25.664,23.716,17.656,15.265,12.512,13.793,11.343,10.167,9.961,9.971,10.969,9.829,10.6,11.214,10.498,11.709,11.731
AGO,LUR,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ATG,LUR,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,LUR,Vietnam,6.010,5.780,5.600,5.310,4.820,4.640,2.380,2.900,2.880,2.220,1.960,2.180,2.1,2.330,2.300,2.240,2.190
WBG,LUR,West Bank and Gaza,31.200,25.500,26.800,23.500,23.700,21.700,26.600,24.500,23.700,20.900,23.000,23.400,26.9,25.900,26.900,25.450,26.250
YEM,LUR,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,LUR,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,LUR,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Get GDP data
gdp_df = pd.read_sql_table("WEO_GDP", conn, index_col=["ISO"])
gdp_df

,WEO Subject Code,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
ISO,,,,,,,,,,,,,,,,,,,
AFG,NGDPDPC,Afghanistan,233.433,233.755,254.259,294.396,320.674,381.502,447.746,511.374,631.490,714.70,784.611,754.402,747.622,711.337,616.234,636.693,582.323
ALB,NGDPDPC,Albania,1425.130,1846.120,2373.580,2673.770,2972.750,3595.050,4370.560,4114.090,4097.830,4439.89,4248.910,4415.600,4584.920,3953.610,4124.410,4542.760,5284.440
DZA,NGDPDPC,Algeria,1806.860,2128.390,2636.310,3141.030,3508.960,3986.560,4943.500,3886.060,4480.720,5453.89,5575.650,5477.060,5466.330,4153.320,3918.940,4079.650,4118.740
AGO,NGDPDPC,Angola,841.420,951.969,1222.040,1862.420,2561.860,3099.090,4081.690,3146.800,3641.440,4716.25,5245.020,5436.520,5625.740,4354.920,3676.830,4303.690,3620.590
ATG,NGDPDPC,Antigua and Barbuda,10482.010,10892.400,11581.320,12736.240,14262.100,15992.740,16510.080,14612.900,13564.680,13295.36,13811.080,13392.220,13951.990,14696.890,15556.010,15655.230,16860.960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,NGDPDPC,Vietnam,546.555,610.357,756.981,873.136,996.255,1152.300,1446.770,1481.810,1628.520,1950.46,2197.610,2370.090,2566.910,2582.390,2720.190,2957.930,3211.460
WBG,NGDPDPC,West Bank and Gaza,1102.500,1197.160,1350.910,1461.090,1480.700,1563.700,1913.320,2061.560,2406.260,2711.92,2888.600,3122.990,3158.600,3084.130,3325.850,3407.310,3353.230
YEM,NGDPDPC,Yemen,560.031,597.771,682.148,797.704,881.648,971.326,1171.170,1060.930,1266.790,1302.30,1367.720,1515.950,1574.250,1500.690,1061.840,891.888,762.136
ZMB,NGDPDPC,Zambia,376.468,429.010,530.540,691.554,1030.690,1103.690,1365.930,1135.010,1456.050,1635.17,1724.630,1839.330,1726.650,1310.460,1254.120,1500.960,1480.420
ZWE,NGDPDPC,Zimbabwe,922.878,822.472,806.898,764.632,677.881,646.558,553.376,790.352,975.851,1131.84,1310.370,1421.550,1415.030,1425.010,1409.450,1516.280,1440.590

In [11]:
# Get poverty data
poverty_df = pd.read_sql_table("WorldBank_Poverty", conn, index_col=["Country Code"])
poverty_df

,Indicator Code,Country Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Code,,,,,,,,,,,,,,,,,,,
ABW,SI.POV.NAHC,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFE,SI.POV.NAHC,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,SI.POV.NAHC,Afghanistan,NaN,NaN,NaN,NaN,NaN,33.7,NaN,NaN,NaN,38.3,NaN,NaN,NaN,NaN,54.5,NaN,NaN
AFW,SI.POV.NAHC,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,SI.POV.NAHC,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,SI.POV.NAHC,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9,17.6,21.1,17.6,NaN,NaN,NaN
YEM,SI.POV.NAHC,"Yemen, Rep.",NaN,NaN,NaN,34.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.6,NaN,NaN,NaN,NaN
ZAF,SI.POV.NAHC,South Africa,NaN,NaN,NaN,66.6,NaN,NaN,62.1,NaN,53.2,NaN,NaN,NaN,55.5,NaN,NaN,NaN,NaN
ZMB,SI.POV.NAHC,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.7,NaN,NaN,NaN,NaN,54.4,NaN,NaN,NaN
ZWE,SI.POV.NAHC,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.5,NaN,NaN,NaN,NaN,NaN,30.4,NaN

In [7]:
# Get country data
countries_df = pd.read_sql_table("Country_Codes", conn)
countries_df

                  country_name country_iso2 country_iso3 country_un_code
0                  Afghanistan           AF          AFG               4
1                Aland Islands           AX          ALA             248
2                      Albania           AL          ALB               8
3                      Algeria           DZ          DZA              12
4               American Samoa           AS          ASM              16
..                         ...          ...          ...             ...
242  Wallis and Futuna Islands           WF          WLF             876
243             Western Sahara           EH          ESH             732
244                      Yemen           YE          YEM             887
245                     Zambia           ZM          ZMB             894
246                   Zimbabwe           ZW          ZWE             716

[247 rows x 4 columns]

In [8]:
trafficking_x_countries = trafficking_df.merge(countries_df, how='left', left_on='citizenship', right_on='country_iso2')
trafficking_x_countries

,yearOfRegistration,Datasource,gender,citizenship,isForcedLabour,ControlCategory,RecruiterCategory,ExploitType,Labor_Type,ageCategories,country_name,country_iso2,country_iso3,country_un_code
0,2012,Case Management,Female,LK,1,Threats,Other,Forced Labor,Domestic Work,Age 30-38,Sri Lanka,LK,LKA,144
1,2012,Case Management,Female,LK,1,Financial,Other,Forced Labor,Domestic Work,Age 30-38,Sri Lanka,LK,LKA,144
2,2012,Case Management,Female,LK,1,Threats,Other,Forced Labor,Domestic Work,Age 30-38,Sri Lanka,LK,LKA,144
3,2012,Case Management,Female,LK,1,Financial,Other,Forced Labor,Domestic Work,Age 30-38,Sri Lanka,LK,LKA,144
4,2012,Case Management,Female,LK,1,Financial,Other,Forced Labor,Domestic Work,Age 30-38,Sri Lanka,LK,LKA,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14294,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17,United States of America,US,USA,840
14295,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17,United States of America,US,USA,840
14296,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17,United States of America,US,USA,840
14297,2018,Hotline,Male,US,0,Other,Family/Relative,Sexual Exploitation,Unknown,Age 9-17,United States of America,US,USA,840
14298,2018,Hotline,Male,US,0,Threats,Family/Relative,Sexual Exploitation,Unknown,Age 9-17,United States of America,US,USA,840

In [9]:
# Get total case counts for each country by year
cases_by_year = trafficking_x_countries.groupby(["country_iso3", "yearOfRegistration"]).size().reset_index(name="case_counts")
cases_by_year

   country_iso3  yearOfRegistration  case_counts
0           AFG                2013            3
1           AFG                2014            1
2           BLR                2015           90
3           BLR                2016          112
4           BLR                2017           30
5           CHN                2017           11
6           CHN                2018           12
7           ERI                2014            1
8           HTI                2012           89
9           IDN                2014            1
10          IDN                2015            6
11          IDN                2016           28
12          IDN                2017           34
13          KEN                2017           29
14          KGZ                2014           71
15          KGZ                2015           66
16          KGZ                2016           20
17          KHM                2015           20
18          KHM                2016           31
19          KHM                2017           74
20          KHM                2018           14
21          KOR                2016           12
22          LKA                2012           31
23          LKA                2013           42
24          MEX                2017           19
25          MMR                2013           20
26          MMR                2014            3
27          MMR                2015          102
28          MMR                2016           35
29          MMR                2018           26
30          NGA                2015           98
31          NPL                2015           27
32          PHL                2015           25
33          PHL                2016           13
34          THA                2016           53
35          UGA                2014           66
36          UKR                2013          172
37          UKR                2014           69
38          UKR                2015          332
39          UKR                2016          320
40          UKR                2017          123
41          USA                2015          631
42          USA                2016         1227
43          USA                2017         1064
44          USA                2018          668
45          UZB                2015           10
46          UZB                2017           15

In [12]:
# Get unemployment and GDP and poverty rate by year and by country for each entry in our cumulative DataFrame
year_unemployment = []
year_gdp = []
year_poverty = []

for row in cases_by_year.iterrows():
    year_unemployment.append(unemployment_df.loc[row[1]['country_iso3'], str(row[1]['yearOfRegistration'])])
    year_gdp.append(gdp_df.loc[row[1]['country_iso3'], str(row[1]['yearOfRegistration'])])
    year_poverty.append(poverty_df.loc[row[1]['country_iso3'], str(row[1]['yearOfRegistration'])])

# Add our results to our cumulative DataFrame
cases_by_year['Unemployment'] = year_unemployment
cases_by_year['GDP'] = year_gdp
cases_by_year['PovertyRate'] = year_poverty

In [13]:
# Look at our DataFrame
cases_by_year

,country_iso3,yearOfRegistration,case_counts,Unemployment,GDP,PovertyRate
0,AFG,2013,3,NaN,754.402,NaN
1,AFG,2014,1,NaN,747.622,NaN
2,BLR,2015,90,5.821,5941.240,5.1
3,BLR,2016,112,5.920,5022.470,5.7
4,BLR,2017,30,5.684,5757.290,5.9
5,CHN,2017,11,3.900,8823.460,3.1
6,CHN,2018,12,3.800,9919.810,1.7
7,ERI,2014,1,NaN,786.540,NaN
8,HTI,2012,89,NaN,1337.340,58.5
9,IDN,2014,1,5.940,3533.610,11.3
10,IDN,2015,6,6.180,3367.690,11.2
11,IDN,2016,28,5.610,3605.720,10.9
12,IDN,2017,34,5.500,3885.470,10.6
13,KEN,2017,29,NaN,1737.800,NaN
14,KGZ,2014,71,8.046,1292.620,30.6
15,KGZ,2015,66,7.554,1132.840,32.1
16,KGZ,2016,20,7.211,1131.840,25.4
17,KHM,2015,20,NaN,1203.480,NaN
18,KHM,2016,31,NaN,1320.330,NaN
19,KHM,2017,74,NaN,1446.880,NaN
20,KHM,2018,14,NaN,1578.020,NaN
21,KOR,2016,12,3.675,29274.230,NaN
22,LKA,2012,31,4.000,3347.890,6.7
23,LKA,2013,42,4.400,3607.150,NaN
24,MEX,2017,19,3.423,9342.920,NaN
25,MMR,2013,20,NaN,1210.220,NaN
26,MMR,2014,3,NaN,1244.180,NaN
27,MMR,2015,102,NaN,1223.740,32.1
28,MMR,2016,35,NaN,1163.790,NaN
29,MMR,2018,26,NaN,1271.680,NaN
30,NGA,2015,98,9.000,2718.590,NaN
31,NPL,2015,27,NaN,901.750,NaN
32,PHL,2015,25,6.275,3039.230,23.5
33,PHL,2016,13,5.475,3107.650,NaN
34,THA,2016,53,1.000,5995.210,8.6
35,UGA,2014,66,NaN,960.698,NaN
36,UKR,2013,172,7.172,3968.800,8.3
37,UKR,2014,69,9.275,3053.610,8.6
38,UKR,2015,332,9.143,2124.620,6.4
39,UKR,2016,320,9.450,2200.000,3.8
40,UKR,2017,123,9.650,2655.940,2.4
41,USA,2015,631,5.275,56848.510,NaN
42,USA,2016,1227,4.875,58017.230,NaN
43,USA,2017,1064,4.350,60105.850,NaN
44,USA,2018,668,3.892,63055.980,NaN
45,UZB,2015,10,NaN,2621.980,NaN
46,UZB,2017,15,NaN,1810.270,NaN

In [14]:
# Drop rows with null values even though it's going to limit our dataset
cases_by_year.dropna(inplace=True)
cases_by_year

,country_iso3,yearOfRegistration,case_counts,Unemployment,GDP,PovertyRate
2,BLR,2015,90,5.821,5941.24,5.1
3,BLR,2016,112,5.920,5022.47,5.7
4,BLR,2017,30,5.684,5757.29,5.9
5,CHN,2017,11,3.900,8823.46,3.1
6,CHN,2018,12,3.800,9919.81,1.7
9,IDN,2014,1,5.940,3533.61,11.3
10,IDN,2015,6,6.180,3367.69,11.2
11,IDN,2016,28,5.610,3605.72,10.9
12,IDN,2017,34,5.500,3885.47,10.6
14,KGZ,2014,71,8.046,1292.62,30.6
15,KGZ,2015,66,7.554,1132.84,32.1
16,KGZ,2016,20,7.211,1131.84,25.4
22,LKA,2012,31,4.000,3347.89,6.7
32,PHL,2015,25,6.275,3039.23,23.5
34,THA,2016,53,1.000,5995.21,8.6
36,UKR,2013,172,7.172,3968.80,8.3
37,UKR,2014,69,9.275,3053.61,8.6
38,UKR,2015,332,9.143,2124.62,6.4
39,UKR,2016,320,9.450,2200.00,3.8
40,UKR,2017,123,9.650,2655.94,2.4

In [29]:
year_series = cases_by_year['yearOfRegistration']
year_series = year_series.astype(str)
cases_by_year['yearString'] = year_series
cases_by_year.drop(columns=['yearOfRegistration'], axis=1, inplace=True)
categorical_features = cases_by_year.dtypes[cases_by_year.dtypes == 'object'].index.tolist()
categorical_features

['country_iso3', 'yearString']

In [30]:
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoder Instance
cat_encoder = OneHotEncoder(sparse=False)

# Fit and transform using category variable list
encoded_df = pd.DataFrame(cat_encoder.fit_transform(cases_by_year[categorical_features]))

# Add encoded variables to DataFrame
encoded_df.columns = cat_encoder.get_feature_names(categorical_features)
encoded_df

,country_iso3_BLR,country_iso3_CHN,country_iso3_IDN,country_iso3_KGZ,country_iso3_LKA,country_iso3_PHL,country_iso3_THA,country_iso3_UKR,yearString_2012,yearString_2013,yearString_2014,yearString_2015,yearString_2016,yearString_2017,yearString_2018
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
# Merge to original and drop
coded_cases_by_year = cases_by_year.merge(encoded_df, left_index=True, right_index=True)
coded_cases_by_year.drop(categorical_features, axis=1, inplace=True)
coded_cases_by_year

,case_counts,Unemployment,GDP,PovertyRate,yearCategory,country_iso3_BLR,country_iso3_CHN,country_iso3_IDN,country_iso3_KGZ,country_iso3_LKA,country_iso3_PHL,country_iso3_THA,country_iso3_UKR,yearString_2012,yearString_2013,yearString_2014,yearString_2015,yearString_2016,yearString_2017,yearString_2018
2,90,5.821,5941.24,5.1,2015,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,112,5.920,5022.47,5.7,2016,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,30,5.684,5757.29,5.9,2017,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,11,3.900,8823.46,3.1,2017,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,12,3.800,9919.81,1.7,2018,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,1,5.940,3533.61,11.3,2014,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,6,6.180,3367.69,11.2,2015,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11,28,5.610,3605.72,10.9,2016,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12,34,5.500,3885.47,10.6,2017,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14,71,8.046,1292.62,30.6,2014,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15,66,7.554,1132.84,32.1,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16,20,7.211,1131.84,25.4,2016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [36]:
coded_cases_by_year.dtypes

case_counts            int64
Unemployment         float64
GDP                  float64
PovertyRate          float64
yearCategory        category
country_iso3_BLR     float64
country_iso3_CHN     float64
country_iso3_IDN     float64
country_iso3_KGZ     float64
country_iso3_LKA     float64
country_iso3_PHL     float64
country_iso3_THA     float64
country_iso3_UKR     float64
yearString_2012      float64
yearString_2013      float64
yearString_2014      float64
yearString_2015      float64
yearString_2016      float64
yearString_2017      float64
yearString_2018      float64
dtype: object

In [37]:
coded_cases_by_year.drop(columns=['yearCategory'], axis=1, inplace=True)
coded_cases_by_year.dtypes

case_counts           int64
Unemployment        float64
GDP                 float64
PovertyRate         float64
country_iso3_BLR    float64
country_iso3_CHN    float64
country_iso3_IDN    float64
country_iso3_KGZ    float64
country_iso3_LKA    float64
country_iso3_PHL    float64
country_iso3_THA    float64
country_iso3_UKR    float64
yearString_2012     float64
yearString_2013     float64
yearString_2014     float64
yearString_2015     float64
yearString_2016     float64
yearString_2017     float64
yearString_2018     float64
dtype: object

In [41]:
# Split processed data in to targets and features
y = coded_cases_by_year["case_counts"]
X = coded_cases_by_year.drop(columns=["case_counts"])

# Split data into a training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 52)

In [42]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [49]:
# Create deep neural net model
input_feature_number = len(X_train_scaled[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 12

tf_nn = tf.keras.models.Sequential()

# 1st hidden layer
tf_nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_feature_number, activation="relu"))

# 2nd hidden layer
tf_nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
tf_nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Model structure
tf_nn.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 20)                380
_________________________________________________________________
dense_13 (Dense)             (None, 12)                252
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 13
=================================================================
Total params: 645
Trainable params: 645
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile model
tf_nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train model
fit_model = tf_nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
1/1 [==============================] - 1s 503ms/step - loss: -16.6777 - accuracy: 0.1111
Epoch 2/100
1/1 [==============================] - 0s 3ms/step - loss: -17.9073 - accuracy: 0.1111
Epoch 3/100
1/1 [==============================] - 0s 3ms/step - loss: -19.1360 - accuracy: 0.1111
Epoch 4/100
1/1 [==============================] - 0s 3ms/step - loss: -20.3677 - accuracy: 0.1111
Epoch 5/100
1/1 [==============================] - 0s 3ms/step - loss: -21.6041 - accuracy: 0.1111
Epoch 6/100
1/1 [==============================] - 0s 3ms/step - loss: -22.8449 - accuracy: 0.1111
Epoch 7/100
1/1 [==============================] - 0s 3ms/step - loss: -24.0910 - accuracy: 0.1111
Epoch 8/100
1/1 [==============================] - 0s 2ms/step - loss: -25.3427 - accuracy: 0.1111
Epoch 9/100
1/1 [==============================] - 0s 3ms/step - loss: -26.5776 - accuracy: 0.1111
Epoch 10/100
1/1 [==============================] - 0s 3ms/step - loss: -27.6917 - accuracy: 0.1111
Epoch 11/100
1/1 [==============================] - 0s 3ms/step - loss: -28.8100 - accuracy: 0.1111
Epoch 12/100
1/1 [==============================] - 0s 4ms/step - loss: -29.9358 - accuracy: 0.1111
Epoch 13/100
1/1 [==============================] - 0s 4ms/step - loss: -31.0825 - accuracy: 0.1111
Epoch 14/100
1/1 [==============================] - 0s 5ms/step - loss: -32.2380 - accuracy: 0.1111
Epoch 15/100
1/1 [==============================] - 0s 3ms/step - loss: -33.3999 - accuracy: 0.1111
Epoch 16/100
1/1 [==============================] - 0s 3ms/step - loss: -34.5737 - accuracy: 0.1111
Epoch 17/100
1/1 [==============================] - 0s 4ms/step - loss: -35.7603 - accuracy: 0.1111
Epoch 18/100
1/1 [==============================] - 0s 3ms/step - loss: -36.9582 - accuracy: 0.1111
Epoch 19/100
1/1 [==============================] - 0s 3ms/step - loss: -38.1670 - accuracy: 0.1111
Epoch 20/100
1/1 [==============================] - 0s 3ms/step - loss: -39.3888 - accuracy: 0.1111
Epoch 21/100
1/1 [==============================] - 0s 3ms/step - loss: -40.6278 - accuracy: 0.1111
Epoch 22/100
1/1 [==============================] - 0s 4ms/step - loss: -41.8781 - accuracy: 0.1111
Epoch 23/100
1/1 [==============================] - 0s 3ms/step - loss: -43.1406 - accuracy: 0.1111
Epoch 24/100
1/1 [==============================] - 0s 4ms/step - loss: -44.4152 - accuracy: 0.1111
Epoch 25/100
1/1 [==============================] - 0s 3ms/step - loss: -45.6978 - accuracy: 0.1111
Epoch 26/100
1/1 [==============================] - 0s 3ms/step - loss: -46.9879 - accuracy: 0.1111
Epoch 27/100
1/1 [==============================] - 0s 3ms/step - loss: -48.2873 - accuracy: 0.1111
Epoch 28/100
1/1 [==============================] - 0s 2ms/step - loss: -49.5979 - accuracy: 0.1111
Epoch 29/100
1/1 [==============================] - 0s 3ms/step - loss: -50.9177 - accuracy: 0.1111
Epoch 30/100
1/1 [==============================] - 0s 3ms/step - loss: -52.2504 - accuracy: 0.1111
Epoch 31/100
1/1 [==============================] - 0s 3ms/step - loss: -53.5969 - accuracy: 0.1111
Epoch 32/100
1/1 [==============================] - 0s 3ms/step - loss: -54.9192 - accuracy: 0.1111
Epoch 33/100
1/1 [==============================] - 0s 4ms/step - loss: -56.2480 - accuracy: 0.1111
Epoch 34/100
1/1 [==============================] - 0s 3ms/step - loss: -57.5918 - accuracy: 0.1111
Epoch 35/100
1/1 [==============================] - 0s 3ms/step - loss: -58.9511 - accuracy: 0.1111
Epoch 36/100
1/1 [==============================] - 0s 3ms/step - loss: -60.3218 - accuracy: 0.1111
Epoch 37/100
1/1 [==============================] - 0s 3ms/step - loss: -61.7056 - accuracy: 0.1111
Epoch 38/100
1/1 [==============================] - 0s 2ms/step - loss: -63.1052 - accuracy: 0.1111
Epoch 39/100
1/1 [==============================] - 0s 3ms/step - loss: -64.5213 - accuracy: 0.1111
Epoch 40/100
1/1 [==============================] - 0s 3ms/step - loss: -65.9677 - accuracy: 0.1111
Epoch 41/100
1/1 [==============================] - 0s 3ms/step - loss: -67.4341 - accuracy: 0.1111
Epoch 42/100
1/1 [==============================] - 0s 3ms/step - loss: -68.9215 - accuracy: 0.1111
Epoch 43/100
1/1 [==============================] - 0s 3ms/step - loss: -70.4222 - accuracy: 0.1111
Epoch 44/100
1/1 [==============================] - 0s 3ms/step - loss: -71.9281 - accuracy: 0.1111
Epoch 45/100
1/1 [==============================] - 0s 7ms/step - loss: -73.4558 - accuracy: 0.1111
Epoch 46/100
1/1 [==============================] - 0s 3ms/step - loss: -75.0055 - accuracy: 0.1111
Epoch 47/100
1/1 [==============================] - 0s 5ms/step - loss: -76.5775 - accuracy: 0.1111
Epoch 48/100
1/1 [==============================] - 0s 3ms/step - loss: -78.1720 - accuracy: 0.1111
Epoch 49/100
1/1 [==============================] - 0s 3ms/step - loss: -79.7893 - accuracy: 0.1111
Epoch 50/100
1/1 [==============================] - 0s 3ms/step - loss: -81.5171 - accuracy: 0.1111
Epoch 51/100
1/1 [==============================] - 0s 4ms/step - loss: -83.2881 - accuracy: 0.1111
Epoch 52/100
1/1 [==============================] - 0s 3ms/step - loss: -85.0899 - accuracy: 0.1111
Epoch 53/100
1/1 [==============================] - 0s 2ms/step - loss: -86.9234 - accuracy: 0.1111
Epoch 54/100
1/1 [==============================] - 0s 2ms/step - loss: -88.7928 - accuracy: 0.1111
Epoch 55/100
1/1 [==============================] - 0s 3ms/step - loss: -90.6883 - accuracy: 0.1111
Epoch 56/100
1/1 [==============================] - 0s 3ms/step - loss: -92.6097 - accuracy: 0.1111
Epoch 57/100
1/1 [==============================] - 0s 2ms/step - loss: -94.5624 - accuracy: 0.1111
Epoch 58/100
1/1 [==============================] - 0s 4ms/step - loss: -96.5593 - accuracy: 0.1111
Epoch 59/100
1/1 [==============================] - 0s 2ms/step - loss: -98.5863 - accuracy: 0.1111
Epoch 60/100
1/1 [==============================] - 0s 3ms/step - loss: -100.6458 - accuracy: 0.1111
Epoch 61/100
1/1 [==============================] - 0s 3ms/step - loss: -102.7382 - accuracy: 0.1111
Epoch 62/100
1/1 [==============================] - 0s 2ms/step - loss: -104.8636 - accuracy: 0.1111
Epoch 63/100
1/1 [==============================] - 0s 4ms/step - loss: -107.0218 - accuracy: 0.1111
Epoch 64/100
1/1 [==============================] - 0s 4ms/step - loss: -109.2131 - accuracy: 0.1111
Epoch 65/100
1/1 [==============================] - 0s 3ms/step - loss: -111.4376 - accuracy: 0.1111
Epoch 66/100
1/1 [==============================] - 0s 3ms/step - loss: -113.6954 - accuracy: 0.1111
Epoch 67/100
1/1 [==============================] - 0s 4ms/step - loss: -115.9605 - accuracy: 0.1111
Epoch 68/100
1/1 [==============================] - 0s 3ms/step - loss: -118.2555 - accuracy: 0.1111
Epoch 69/100
1/1 [==============================] - 0s 3ms/step - loss: -120.5810 - accuracy: 0.1111
Epoch 70/100
1/1 [==============================] - 0s 3ms/step - loss: -123.0028 - accuracy: 0.1111
Epoch 71/100
1/1 [==============================] - 0s 3ms/step - loss: -125.4577 - accuracy: 0.1111
Epoch 72/100
1/1 [==============================] - 0s 3ms/step - loss: -127.9557 - accuracy: 0.1111
Epoch 73/100
1/1 [==============================] - 0s 3ms/step - loss: -130.4900 - accuracy: 0.1111
Epoch 74/100
1/1 [==============================] - 0s 3ms/step - loss: -133.0694 - accuracy: 0.1111
Epoch 75/100
1/1 [==============================] - 0s 3ms/step - loss: -135.6979 - accuracy: 0.1111
Epoch 76/100
1/1 [==============================] - 0s 2ms/step - loss: -138.3704 - accuracy: 0.1111
Epoch 77/100
1/1 [==============================] - 0s 3ms/step - loss: -141.0865 - accuracy: 0.1111
Epoch 78/100
1/1 [==============================] - 0s 3ms/step - loss: -143.8140 - accuracy: 0.1111
Epoch 79/100
1/1 [==============================] - 0s 2ms/step - loss: -146.5648 - accuracy: 0.1111
Epoch 80/100
1/1 [==============================] - 0s 3ms/step - loss: -149.3588 - accuracy: 0.1111
Epoch 81/100
1/1 [==============================] - 0s 2ms/step - loss: -152.1966 - accuracy: 0.1111
Epoch 82/100
1/1 [==============================] - 0s 3ms/step - loss: -155.0781 - accuracy: 0.1111
Epoch 83/100
1/1 [==============================] - 0s 3ms/step - loss: -158.0037 - accuracy: 0.1111
Epoch 84/100
1/1 [==============================] - 0s 3ms/step - loss: -160.9740 - accuracy: 0.1111
Epoch 85/100
1/1 [==============================] - 0s 2ms/step - loss: -163.9893 - accuracy: 0.1111
Epoch 86/100
1/1 [==============================] - 0s 3ms/step - loss: -167.0497 - accuracy: 0.1111
Epoch 87/100
1/1 [==============================] - 0s 3ms/step - loss: -170.1563 - accuracy: 0.1111
Epoch 88/100
1/1 [==============================] - 0s 3ms/step - loss: -173.3088 - accuracy: 0.1111
Epoch 89/100
1/1 [==============================] - 0s 3ms/step - loss: -176.5067 - accuracy: 0.1111
Epoch 90/100
1/1 [==============================] - 0s 3ms/step - loss: -179.7523 - accuracy: 0.1111
Epoch 91/100
1/1 [==============================] - 0s 3ms/step - loss: -183.0457 - accuracy: 0.1111
Epoch 92/100
1/1 [==============================] - 0s 4ms/step - loss: -186.3910 - accuracy: 0.1111
Epoch 93/100
1/1 [==============================] - 0s 2ms/step - loss: -189.7835 - accuracy: 0.1111
Epoch 94/100
1/1 [==============================] - 0s 3ms/step - loss: -193.2226 - accuracy: 0.1111
Epoch 95/100
1/1 [==============================] - 0s 3ms/step - loss: -196.7167 - accuracy: 0.1111
Epoch 96/100
1/1 [==============================] - 0s 3ms/step - loss: -200.2642 - accuracy: 0.1111
Epoch 97/100
1/1 [==============================] - 0s 4ms/step - loss: -203.8599 - accuracy: 0.1111
Epoch 98/100
1/1 [==============================] - 0s 3ms/step - loss: -207.5084 - accuracy: 0.1111
Epoch 99/100
1/1 [==============================] - 0s 3ms/step - loss: -211.2103 - accuracy: 0.1111
Epoch 100/100
1/1 [==============================] - 0s 4ms/step - loss: -214.9662 - accuracy: 0.1111