In [17]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'Country': [1, 2, 3, 4], \
                   'ExploitType': [2, 3, 4, 1]})
df.head()

   Country  ExploitType
0        1            2
1        2            3
2        3            4
3        4            1

In [18]:
for i in range(df["Country"].size):
    print(type(df["Country"][i].item()))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [22]:
import psycopg2

DB_HOST = "ec2-52-203-74-38.compute-1.amazonaws.com"
DB_NAME = "dan42vmiu08ba8"
DB_USER = "inheaaxzpwucbt"
DB_PASS = "c74bb19e817216833f19202dfc371aa250c7e00b5a877ca42acbf9d6610ae16d"

connection = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST)

cur = connection.cursor()

# cur.execute("CREATE TABLE test (id SERIAL PRIMARY KEY, country VARCHAR);")
# cur.execute("ALTER TABLE test DROP COLUMN id")
# cur.execute("ALTER TABLE test ADD id INT")
for i in range(df["Country"].size):
    cur.execute("INSERT INTO test (id) VALUES(%s)", (df["Country"][i].item(),))
connection.commit()

cur.close()

connection.close()