In [23]:
# Add the Pandas dependency.
import pandas as pd
import numpy as np

In [24]:
preliminar_data = 'Country_coordinates.csv'

In [25]:
preliminar_data_df = pd.read_csv(coordinates)
preliminar_data_df.head()

    country alpha-2 alpha-3              location  Unnamed: 4
0  Colombia      CO     COL  4.570868, -74.297333         NaN
1   Moldova      MD     MDA  47.411631, 28.369885         NaN
2   Romania      RO     ROU   45.943161, 24.96676         NaN
3   Ukraine      UA     UKR   48.379433, 31.16558         NaN
4   Belarus      BY     BLR  53.709807, 27.953389         NaN

In [26]:
preliminar_data_df.columns

Index(['country', 'alpha-2', 'alpha-3', 'location', 'Unnamed: 4'], dtype='object')

In [27]:
coordinates_df = preliminar_data_df.drop(['Unnamed: 4'], axis=1)

coordinates_df.head()

    country alpha-2 alpha-3              location
0  Colombia      CO     COL  4.570868, -74.297333
1   Moldova      MD     MDA  47.411631, 28.369885
2   Romania      RO     ROU   45.943161, 24.96676
3   Ukraine      UA     UKR   48.379433, 31.16558
4   Belarus      BY     BLR  53.709807, 27.953389