In [26]:
# Add the Pandas dependency.
import pandas as pd
import numpy as np

In [27]:
coordinates_data = 'Country_coordinates.csv'

In [28]:
coordinates_data_df = pd.read_csv(coordinates_data)
coordinates_data_df.head()

    country alpha-2 alpha-3              location
0  Colombia      CO     COL  4.570868, -74.297333
1   Moldova      MD     MDA  47.411631, 28.369885
2   Romania      RO     ROU   45.943161, 24.96676
3   Ukraine      UA     UKR   48.379433, 31.16558
4   Belarus      BY     BLR  53.709807, 27.953389

In [29]:
coordinates_data_df['alpha-2'].count()

46

In [30]:
coordinates_data_df.columns

Index(['country', 'alpha-2', 'alpha-3', 'location'], dtype='object')

In [31]:
coordinates_data_df.rename(columns = {'alpha-2': 'country_of_exploitation'}, inplace=True)
coordinates_data_df.head()

    country country_of_exploitation alpha-3              location
0  Colombia                      CO     COL  4.570868, -74.297333
1   Moldova                      MD     MDA  47.411631, 28.369885
2   Romania                      RO     ROU   45.943161, 24.96676
3   Ukraine                      UA     UKR   48.379433, 31.16558
4   Belarus                      BY     BLR  53.709807, 27.953389

In [32]:
traffick_df = pd.read_csv('human_traffick_sample_dataset_mrm.csv')

In [33]:
traffick_df.country_of_exploitation.value_counts()

KH    40
MY    34
US    30
CN    26
UA    26
IN    22
SA    14
BD    12
MD     2
VN     2
Name: country_of_exploitation, dtype: int64

In [35]:
traffick_with_coordinates_df= pd.merge(traffick_df, coordinates_data_df, on= 'country_of_exploitation')
traffick_with_coordinates_df.head()

,registration_year,datasource,gender,age_range,majority_status,majority_status_at_exploit,majority_entry,citizenship,country_of_exploitation,control_financial,...,control_physical,control_limit_necessities,control_other,labor,victim_purpose,trafficker_relationship,was_trafficked,country,alpha-3,location
0,2017,Case Management,Female,0--8,Minor,Minor,-99,-99,KH,-99,...,1,-99,1,0,-99,-99,1,Cambodia,KHM,"12.565679, 104.990963"
1,2017,Case Management,Female,0--8,Minor,Minor,-99,-99,KH,-99,...,1,-99,1,-99,6,4,1,Cambodia,KHM,"12.565679, 104.990963"
2,2018,Case Management,Female,0--8,Minor,-99,-99,MD,KH,-99,...,-99,-99,-99,-99,-99,-99,1,Cambodia,KHM,"12.565679, 104.990963"
3,2018,Case Management,Female,0--8,Minor,-99,-99,MD,KH,-99,...,-99,-99,1,-99,-99,-99,1,Cambodia,KHM,"12.565679, 104.990963"
4,2018,Case Management,Female,0--8,Minor,-99,-99,MD,KH,-99,...,-99,-99,1,-99,-99,-99,1,Cambodia,KHM,"12.565679, 104.990963"

In [36]:
traffick_with_coordinates_df['country_of_exploitation'].isnull().sum()

0

In [38]:
traffick_with_coordinates_df[['latitude', 'longitude']]=traffick_with_coordinates_df['location'].str.split(',', expand=True)

In [39]:
traffick_with_coordinates_df.columns

Index(['registration_year', 'datasource', 'gender', 'age_range',
       'majority_status', 'majority_status_at_exploit', 'majority_entry',
       'citizenship', 'country_of_exploitation', 'control_financial',
       'control_threats', 'control_physical', 'control_limit_necessities',
       'control_other', 'labor', 'victim_purpose', 'trafficker_relationship',
       'was_trafficked', 'country', 'alpha-3', 'location', 'latitude',
       'longitude'],
      dtype='object')

In [40]:
traffick_with_coordinates_df.country

0                      Cambodia
1                      Cambodia
2                      Cambodia
3                      Cambodia
4                      Cambodia
                 ...
203    United States of America
204    United States of America
205    United States of America
206    United States of America
207    United States of America
Name: country, Length: 208, dtype: object

In [41]:
traffick_with_coordinates_df.country.value_counts()

Cambodia                    40
Malaysia                    34
United States of America    30
China                       26
Ukraine                     26
India                       22
Saudi Arabia                14
Bangladesh                  12
\tViet Nam                   2
Moldova                      2
Name: country, dtype: int64

In [42]:
traffick_with_coordinates_df.country_of_exploitation.value_counts()

KH    40
MY    34
US    30
CN    26
UA    26
IN    22
SA    14
BD    12
MD     2
VN     2
Name: country_of_exploitation, dtype: int64

In [43]:
traffick_with_coordinates_df.to_csv('Cases_Coordinates.csv', index=False)