<a href="https://colab.research.google.com/github/gh-mrmoore/AnalyticsFinalProject/blob/MichelleEscobar/AnalyticsFinalProjectWeek1(gender).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Add dependencies
import pandas as pd
from sklearn.linear_model import LinearRegression

In [ ]:
trafficking_df = pd.read_csv("https://raw.githubusercontent.com/gh-mrmoore/AnalyticsFinalProject/MichelleVillafria/Database/human_traffick_sample_dataset.csv")
trafficking_df.head()

   registration_year       datasource  ... victim_purpose trafficker_relationship
0               2017  Case Management  ...            -99                     -99
1               2017  Case Management  ...              6                       4
2               2017  Case Management  ...              3                       3
3               2017  Case Management  ...            -99                       4
4               2017  Case Management  ...              6                     -99

[5 rows x 17 columns]

In [ ]:
# Values for x and y
x = trafficking_df[["gender"]]
y = trafficking_df["labor"]

In [ ]:
print(x)

     gender
0    Female
1    Female
2    Female
3    Female
4    Female
..      ...
99   Female
100  Female
101  Female
102  Female
103  Female

[104 rows x 1 columns]

In [ ]:
print(y)

0       0
1     -99
2     -99
3     -99
4       3
       ..
99    -99
100   -99
101   -99
102   -99
103   -99
Name: labor, Length: 104, dtype: int64